<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="../../index3.html" class="brand-link">
    <img src="./assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">AdminLTE 3</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="./assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Alexander Pierce</a>
      </div>
    </div>

    <!-- Dashboard -->
    <ul class="nav nav-pills nav-sidebar" data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-item" *ngFor="let item of dashboardMenuItems">
        <a [routerLink]="[item.url]" class="nav-link" style="cursor: pointer;">
          <i class="{{item.icono}}"></i>
          <p class="ml-2">{{item.titulo}}</p>
        </a>
      </li>
    </ul>

    <!-- Pedidos -->
    <ul class="nav nav-pills nav-sidebar" data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-item" *ngFor="let item of pedidosMenuItems">
        <a [routerLink]="[item.url]" class="nav-link" style="cursor: pointer;">
          <i class="{{item.icono}}"></i>
          <p class="ml-2">{{item.titulo}}</p>
        </a>
      </li>
    </ul>

    <!-- Clientes -->
    <ul class="nav nav-pills nav-sidebar" data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-item" *ngFor="let item of clientesMenuItems">
        <a [routerLink]="[item.url]" class="nav-link" style="cursor: pointer;">
          <i class="{{item.icono}}"></i>
          <p class="ml-2">{{item.titulo}}</p>
        </a>
      </li>
    </ul>

    <!-- Logout -->
    <ul class="nav nav-pills nav-sidebar" data-widget="treeview" role of menu data-accordion="false">
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;" (click)="logout()">
          <i class="nav-icon fas fa-sign-out-alt"></i>
          <p class="ml-2">
            Logout
          </p>
        </a>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>